body{
    background: green linear-gradient(45deg, white,rgb(255, 0, 212),white) fixed;
    text-align: center;
}
#defaultCanvas0{
    display: inline;
    margin-top: 1%;
    width: 90% !important;
}
#gl{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
    margin-top: 1%;
    margin-bottom: 1%;
    text-shadow: 4px 0 0 rgb(255, 0, 212), -4px 0 0 rgb(255, 0, 212), 0 4px 0 rgb(255, 0, 212), 0 -4px 0 rgb(255, 0, 212), 2px 2px rgb(255, 0, 212), -2px -2px 0 rgb(255, 0, 212), 2px -2px 0 rgb(255, 0, 212), -2px 2px 0 rgb(255, 0, 212);
}
#gl:hover{
    -webkit-transform: scale(1.1);
}
#settings{
    width: 90%;
    height: auto;   
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    margin: auto;  
    margin-top: 1%;
    margin-bottom: 1%;
}
.input-label{
    color: rgb(255, 0, 212);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.inputs{
    width: 15%;
    margin-top: 0.5%;
    margin-left: 2%;
    padding-left: 0.5%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    background-color: rgb(255, 0, 212);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}
#mode{
    border: 1px;
    border-radius: 1px;
}
#choosesettings{
    margin-top:1%;
    margin-bottom:1%;
    width: 20%;
}
#cnv{
    width: 100%;
    margin-bottom: 1%;
    color: black;
}